header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    display: flex;
    gap: 10px;
}

.fd {
    align-items: center;
}
H1 {
    font-style: italic; 
}

p {
    font-style: italic;
    font-weight: bold;
}

ul {
    list-style-type: "- ";
}

.row {
    border: solid;
    display: flex;
    gap: 0px;
    align-items: flex-start;
}

.row section {
    border: 2px solid;
    border-top: none;
    flex: 1 1 0;
    min-width: 200px;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
        gap: 0px;
    }
}

.third1 {
    border-top: 2px solid;
}

body {
    border: solid;
}

.last {
    text-align: center;
}

.row1 {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.one, .two, .three {
    border: 1px solid;
    border-radius: 10px;
    margin-left: 20px;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 12px;
    margin: 0 auto 16px auto;
    max-width: 900px;
}

.second {
    display: flex;
    flex-direction: column;
}

body {
    margin: 50px;
}

h3 {
    padding-left: 20px;
}